
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<div class="card" style="display: block; margin: 2rem auto; width: 80%">
    <form method="post" action="~/Refaccionaria/Login">
        <img class="mb-4" src="~/Static/madero.png" alt="" style="width: 20rem">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3 text-center">
            <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
            <p class="text-danger">@ViewBag.Error</p>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </div>
    </form>
</div>